<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>追跡ログ ビューワ</title>
  <style>
    .alert {
      color: #a94442;
      background-color: #f2dede;
      border-color: #ebccd1;
    }
  </style>
</head>

<body>
  <h1>追跡ログ ビューワー</h1>
  <script type="text/javascript" src="/public/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/public/papaparse.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    google.charts.load('current', {
      'packages': ['timeline']
    });
//    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = getParsedData();
      var container = document.getElementById('result');
      var chart = new google.visualization.Timeline(container);
      var dataTable = new google.visualization.DataTable();

      dataTable.addColumn({
        type: 'string',
        id: 'event'
      });
      dataTable.addColumn({
        type: 'date',
        id: 'Start'
      });
      dataTable.addColumn({
        type: 'date',
        id: 'End'
      });
      for (var i = 0; i < data.data.length - 1; i++) {
        dataTable.addRows([
          [data.data[i][8], new Date(data.data[i][0]), new Date(data.data[i+1][0])]
        ]);

      }

      chart.draw(dataTable);
    }

    function postxhr() {
      var xhr = new XMLHttpRequest();

      xhr.open("POST", "/submit");
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 200) {
          $("#result").append("<p>" + xhr.responseText + "</p>");
        }
      }
      xhr.send(document.getElementById("name").value);
    }

    function getParsedData() {
      var data = Papa.parse(document.getElementById("name").value);
      console.log(data);
      return data;
    }
  </script>
  <% if (locals.errors) { %>
    <ul class="alert">
      <%   for (var i = 0; i < errors.length; i++) { %>
        <li>
          <%= errors[i]%>
        </li>
        <%   } %>
    </ul>
    <% } %>
      <div class="ui-widget-header ui-corner-all" style="padding: 10px;">
        <label for="name">ログをここにコピー：</label></BR>
        <textarea cols="100" rows="10" id="name" name="name" value="<%= locals.name ? name : " "%>"></textarea>
      </div>
      <div class="ui-widget-header ui-corner-all" style="padding: 10px;">
        <input type="submit" value="パース" onclick="drawChart()" />
        <!-- <input type="submit" value="パース" onclick="postxhr()" /> -->
      </div>
      <div id="result">
      </div>
</body>

</html>
